
<head>

</head>

{{#each recipes}}
<div class="gallery">
  <a target="_blank" href="/recipe/{{id}}">
    <img src="{{imagePath}}"  width="600" height="400">
  </a>
  <div class="description">{{name}}</div>
</div>





{{/each}}



</style>